@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;

  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      transform: rotate(270deg);
    }
  }

  .column-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
      transform: rotate(90deg);
      text-decoration: none;
      color: white;
      font-weight: 700;
      position: relative;
    }

    p::before {
      content: '';
      background-color: hsla(196, 61%, 58%, 0.75);
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 4px;
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }

    p:hover::before {
      bottom: 0;
      height: 100%;
    }
  }

  .projects-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    position: relative;
  }

  .projects-link::before {
    content: '';
    background-color: hsla(196, 61%, 58%, 0.75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 4px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .projects-link:hover::before {
    bottom: 0;
    height: 100%;
  }
}

.container {
  width: 800px;
}

.content {
  position: relative;
  width: 800px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-right {
  left: 80%;
}
